.App {
  background-color: rgb(49, 77, 77);
  color: aliceblue;
  text-align: center;
  padding: 10px;
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: rgb(155, 201, 185);
}
a:hover {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
  background-color: rgb(45, 76, 65);
}
li {
  display: inline-block;
  width: 100px;
  list-style: none;
  background-color: rgb(155, 201, 185);
  padding: 10px;
}
.nav {
  text-align: center;

  padding: 0;
}
h1 {
  text-align: center;
}
p,
.form {
  text-align: center;
}
input {
  text-align: center;
  margin: 10px;
  width: 20%;
}
textarea {
  width: 30%;
  height: 100px;
  text-align: center;
}

.formLabel {
  display: block;
  text-align: center;
  margin: 5px;
}
.foot {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 100px;
  color: antiquewhite;
  background-color: rgb(45, 76, 65);
}

li.peopleBelow50 {
  display: inline-block;
  width: 95%;
  color: aliceblue;
  background-color: rgb(37, 62, 53);
  text-align: center;
}
li.peopleAbove50 {
  display: inline-block;
  width: 95%;
  color: aliceblue;
  background-color: rgb(235, 37, 37);
  text-align: center;
}
.person-result {
  background-color: rgb(255, 160, 160);
  text-align: center;
}

.first-name {
  display: inline;
  margin: 10px;
  padding: 10px;
}

.selection {
  text-align: center;
  margin: 10px;
}

.center {
  text-align: center;
}
.active {
  background-color: rgb(183, 227, 213);
}
td {
  border: solid black 1px;
  margin: 10px;
  padding: 10px;
}
.above30 {
  background-color: aqua;
}
.below30 {
  background-color: bisque;
}
